.gallery {
  width: 320px;
  padding: 20px 10px;
  margin: 0 auto;
}

.photo-card {
  position: relative;
  border: 1px solid rgb(224, 214, 214);
  box-shadow: 1px 1px 6px rgb(224, 214, 214);
  border-radius: 5px;
  overflow: hidden;

  margin-bottom: 10px;

  .photo-card__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
  }

  .photo-card__like {
    position: absolute;
    display: block;
    width: 28px;
    height: 24px;
    right: 10px;
    top: 10px;
    font-size: 35px;
    fill: white;
    stroke: none;
    z-index: 100;
    cursor: pointer;
    transition: all 0.1s;

    &.active {
      fill: rgba(40, 84, 218, 0.993);
      stroke: none;

      &:hover {
        fill: #ffffff6e;
        stroke: rgb(64 102 218 / 90%);
        stroke-width: 3px;
      }
    }

    &:hover {
      fill: rgb(64 102 218 / 90%);
      stroke: #ffffff6e;
      stroke-width: 3px;
    }

    &:active {
      fill: rgba(40, 84, 218, 0.993);
      stroke: none;
    }
  }
}

.info {
  padding: 2px 10px;
}

.info-item {
  display: flex;
  flex-direction: column-reverse;

  & > b {
    margin-right: 10px;
  }
}

@media screen and (min-width: 769px) {
  .gallery {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 30px 20px;
    margin-bottom: -20px;
  }

  .photo-card {
    width: calc((100% - 60px) / 2);
    max-height: 390px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1191px) {
  .gallery {
    width: 1180px;
  }
  .photo-card {
    width: calc((100% - 60px) / 4);
  }

  .info {
    font-size: 13px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 0;

      &:first-child {
        align-items: flex-start;
      }

      & > b {
        margin-bottom: 5px;
      }
    }
  }
}
