.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(34, 145, 225, 0.993);
    &__input {
        height: 26px;
        min-width: 250px;
        max-width: 300px;
        padding: 6px 10px;
        border-radius: 3px 0 0 3px;
        // border-top: 1px solid rgb(23, 69, 207);
        // border-bottom: 1px solid rgb(23, 69, 207);
        // border-left: 1px solid rgb(23, 69, 207);
        // border-right: none;
        border: none;
        outline: none;
        background: #fff;
        color: #000;
        font-size: 13px;
        &::placeholder {
            font-size: 13px;
            color: rgb(23, 69, 207);
        }
        &:focus {
            background-color: rgb(213, 237, 253);
        }
    }
    &__btn {
        display: block;
        padding: 0px;
        height: 26px;
        width: 26px;
        border: none;
        border-radius: 0 3px 3px 0;
        outline: none;
        background: rgb(213, 237, 253);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            background-color: rgb(194 230 255 / 65%);
        }
        &:active {
            background-color: rgb(83, 174, 235);
        }
    }
    &__icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        fill: rgba(53, 155, 228, 0.993);
    }
}

.pulse {
    position: relative; // Нужно будет в будущем, для позиционирования эффекта
    &::after,
    &::before {
        content: '';
        position: absolute;
        border: 2px solid #3D64FF;
        left: -20px;
        opacity: 0;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
    }
    &::after {
        animation-delay: 1.25s;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.logotype {
    position: absolute;
    top: 2px;
    left: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-family: Impact, fantasy;
    display: none;
    align-items: center;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &__icon {
        width: 35px;
        height: 35px;
        margin-right: 12px;
    }
}