.wellcome {
  border-radius: 5px;
  background-color: rgba(40, 84, 218, 0.993);
  padding: 20px 40px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;

  @media screen and (min-width: 769px) {
    width: 620px;
  }

  @media screen and (min-width: 1191px) {
    width: 1115px;
  }

  @media screen and (max-width: 767px) {
    max-width: 300px;
    padding: 15px 20px;
  }

  @media screen and (max-width: 320px) {
    width: auto;
    margin: 0 8px;
    padding: 10px 20px;
  }

  &__main_text {
    font-size: 21px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 3px;
  }

  &__second_text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__ps {
    font-size: 12px;
    font-weight: 300;
    text-align: end;
    margin: 0;
    margin-right: 90px;

    &_heart {
      margin-left: 3px;
      width: 13px;
      height: 13px;
      fill: white;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
